
[settings]
RUNNING_ENVIRONMENT = minibolt
RUNNING_BITCOIN = external
MESSAGE_FILE_PATH = /home/admin/node-status/templates/message.txt

[bitcoin]
BITCOIN_RPC_USER = JucaBala
BITCOIN_RPC_PASSWORD = RxxWIq5RYkha
BITCOIN_RPC_HOST = bitcoin.br-ln.com
BITCOIN_RPC_PORT = 8085
# bitcoind.zmqpubrawblock=tcp://bitcoin.br-ln.com:28332
# bitcoind.zmqpubrawtx=tcp://bitcoin.br-ln.com:28333

[umbrel]
UMBREL_PATH = /path/to/umbrel/scripts/
