[settings]
RUNNING_ENVIRONMENT = umbrel
RUNNING_BITCOIN = local
MESSAGE_FILE_PATH = /home/<user>/node-status/templates/message.txt

[bitcoin]
BITCOIN_RPC_USER = YOUR_BITCOIN_RPCUSER
BITCOIN_RPC_PASSWORD = YOUR_BITCOIN_RPCPASS
BITCOIN_RPC_HOST = YOUR_BITCOIN_MACHINE_IP
BITCOIN_RPC_PORT = 8332

[umbrel]
UMBREL_PATH = /path/to/umbrel/scripts/
