
body.dark {
    background-color: #222;
    color: #eee;
}
body.light {
    background-color: #fff;
    color: #333;
}
.container {
    margin-top: 50px;
}
.green { color: #28a745; } /* Green */
.yellow { color: #ffc107; } /* Yellow */
.red { color: #dc3545; } /* Red */
.list-group-item {
    background-color: #333;
    border-color: #555;
    color: #eee;
}
.table {
    background-color: #333;
    color: #eee;
}
.table th,
.table td {
    border-color: #555;
}
.theme-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.pay-invoice {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 9999;
}

.theme-switch, .pay-invoice {
    width: 150px; /* Set a fixed width for both buttons */
}

/* Modal in dark mode */
body.dark .modal-content {
    background-color: #333; /* Dark background */
    color: #eee; /* Light text */
}

/* Modal in light mode */
body.light .modal-content {
    background-color: #fff; /* Light background */
    color: #333; /* Dark text */
}

/* Customize modal header, footer, and body for both themes */
.modal-header, .modal-footer {
    border-color: #555; /* Add border color for better visibility */
}

/* Modal buttons in dark mode */
body.dark .modal-footer .btn {
    background-color: #444; /* Darker button background */
    color: #eee; /* Light text */
}

/* Modal buttons in light mode */
body.light .modal-footer .btn {
    background-color: #ddd; /* Lighter button background */
    color: #333; /* Dark text */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .container {
        margin-top: 20px;
    }
    .btn {
        font-size: 14px; /* Reduce button font size */
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 90%; /* Reduce heading sizes */
    }
    .table, .list-group-item {
        font-size: 90%; /* Reduce table and list item font sizes */
    }
    .theme-switch,
    .pay-invoice {
        /* Ensure they are still floating */
        position: fixed;
        right: 10px; /* Keep the same distance from the right */
        z-index: 9999; /* Ensure they float over other content */
        /* Reduce width by 20% */
        width: 120px; /* 80% of the original width */
    }
}
